{% extends 'base.html.twig' %}

{% block title %} List Of Participants {% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participants</title>
</head>
<body>
    <h1>Participant List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{participant.name}}</td>
                    <td>{{participant.email|upper|lower|title}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{path('app_hello')}}">Back to Home</a>
</body>
</html>
{% endblock %}